body {
    background-color: #282828;
    font-style: helvetica;
    font-family: Arial, Helvetica, sans-serif;

    color: floralwhite;

    margin: 2em 0 3em 0;
}

/*Logo font: Helvetica*/

div.middleElements {
    height: fit-content;
    width: auto;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

div.bottomElements {
    position: relative;
    top: 100px;
    height: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
    text-align: right;
    /*font-size: 15;*/
}

div.links {
    height: fit-content;
    width: auto;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    text-align: right;
    font-size: 15px;

    margin: 2em 0 3em 0;
}

#be1 {
    font-size: 30px !important;
}

.links a {
    font-size: 25px !important;
}

.links a:link {
    font-size: 25px !important;
}

a {
    color:floralwhite;
    background-color: transparent;
    text-decoration: transparent;
}

a:link {
    color:floralwhite;
    background-color: transparent;
    text-decoration: dotted;
}

a:visited {
    color:oldlace;
    background-color: transparent;
}

a:hover {
    color:floralwhite;
    background-color: transparent;
    text-decoration: underline dotted floralwhite;
}

body::-webkit-scrollbar {
    position: absolute;
    width: 5px;               /* width of the entire scrollbar */
    left: 5px;
  }
  body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: floralwhite;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
  }