<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jazzy mainpage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<div class = "links" style="position: relative; top: 87px;">
    <a href="https://discord.com/oauth2/authorize?client_id=887684182975840296&permissions=53479440&scope=bot" style="padding: 0.5%; position: relative; right: 80px;">Add to server</a>
    <a href="/feedback/" style="padding: 0.5%; position: relative; right: 80px;">Send feedback</a>
    <a href="https://discord.gg/qpP4CZABJx" style="padding: 0.5%; position: relative; right: 80px;">Discord</a>
</div>

<body>

    <!--  

    <h1 style="
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -100px;
    color:floralwhite;
    ">Hello world</h1>

    -->

    <h3 hidden style="
    width: 520px;
    position: absolute;
    top: 55%;
    right: 22%;

    font-size: 35px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.5px;
    ">Jazzy is a free to use music bot with premium audio quality. No features are locked behind any paywall and more are sure to be added.</h3>



    <a  href="/" ><img src="../static/images/logoMain.png"alt="" width="237" height="123" style="position: absolute; top: 10px; left: 50px;"></a>



    <hr style="
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -400px;
    width: 85%;
    background-color: floralwhite;
    " size="3"> </hr>

    <hr style="
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -520px;
    width: 50%;
    " size="3" color="#282828"> </hr>
        
    <!--<form action='' method="post">
        <input type="text"  id="search" name="search"/>
        <input type="submit" value="Search video"/>
        <input type="hidden" id="ID" name="id"/>

        
    </form>
    <form action='' method="post">
        <input type="text"  id="search" name="search"/>
        <button type="submit" value="Search video" />
        <input type="hidden" value="ID" /> -->

        
    </form>
</body>

<script type="text/javascript">

    const YOUTUBE_API_KEY = "AIzaSyAIDacCdn9O5eAxWvGroBENCZYDah74XCE";

    if (!YOUTUBE_API_KEY) {
    throw new Error("No API key is provided");
    }

    function search()
    {

    }

    function checkVC()
    {
        
    }
    
</script>

</html>